.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: midnightblue;

    font-weight: bold;
}

#menu-toggle {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1001;
    color: gray;
    background-color: black;
    border-color: black;
}
#page-content-wrapper {
    color: white;
}
select {
    color: gray;
}
.sidebar-nav {
    margin-top: 50px;
}

.glyphicon {
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}

form {
    padding: 7px;
}

form select {
    display: inline;
}


/*form div {
    display: inline-block;
    }*/

#input {
    margin-bottom: 15px;
}


/*#recommend-1 {
    width: 65%;
    }*/


/*.ui-accordion-content {
    min-height: 149px;
    max-height: 150px;
    }*/

.
/*ui-accordion .ui-accordion-content {
    padding: 2px;
    }*/

.ui-tabs {
    /*float: left;*/
    width: 100%;
    height: 100%;
    /*height: 500px;*/
    background-color: black;
}

.ui-tabs-tab {
    min-width: 133px;
}

.jasmine_html-reporter {
    margin-top: 50px;
}

.tester {
    margin-top: 2px;
}

.caption {
    font-size: 12px;
    text-align: center;
}


/*.col-centered {
    margin: auto;
    max-width: 250px;
}*/

.pic-container {
    height: 150px;
    width: 125px;
    /*object-fit: cover;*/
    /*margin-bottom: 5px;
    padding: 2px;
    margin-right: 3px;
    margin-left: 3px;*/
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.pic-container img {
    height: 100px;
    width: 100px;
    /*object-fit: cover;*/
    border-radius: 100%;
    margin: 0 auto;
}

.pic-container .caption {
    height: 100%;
    min-height: 100%;
}

#more-button {
    display: block;
}

.display-tab {
    display: none;
    margin-top: 25px;
    /*background-color: midnightblue;*/
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: white;
    /*overflow: hidden;*/
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    .ui-accordion-content {
        min-height: 299px;
        max-height: 300px;
    }
    .caption {
        font-size: 14px;
    }
    /*.col-centered {
        max-width: 625px;
    }*/
    /*.pic-container {
        height: 250px;
        width: 250px;
    }
    .pic-container img {
        height: 100px;
        width: 100px;
    }*/
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 962px;
    }
    /*.col-centered {
        max-width: 750px;
    }*/
    /*.ui-accordion-content {
        min-height: 199px;
        max-height: 200px;
    }*/
    /*.pic-container {
        height: 300px;
        width: 200px;
    }*/
}


/*@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .col-centered {
        max-width: 750px;
    }
}*/
